# STS project files
.classpath
.project
.settings
.springBeans
.idea
.DS_store
plugins/*.zip

# These directotes are usually created when the Archivist starts up and
# are used for applicion data.

# Unit test data
/unittest
# Build directory
/target
# Default location of embedded SQL DB files.
/db
# Default location for elastic index
/index
# Default location for filesystem
storage
# Default location for exports
/exports
# Default location for snapshots
/snapshots

# Sublime project
archivist.sublime-project
archivist.sublime-workspace
archivist.iml

