# STS project files
.classpath
.project
.settings
.springBeans
.idea
unittest

# Build directory
target
unittest

# Elastic DB files
data

# Proxy folder for unit tests
proxies
# Export folder for unit tests
exports

.DS_store

# Sublime project
archivist.sublime-project
archivist.sublime-workspace
archivist.iml

#Snapshot dir
snapshots
