.idea
*.iml
*.p12
.DS_Store
/**/target
/**/dependency-reduced-pom.xml
/**/*.jar
/**/*.pyc
k8.cert
service-credentials.json
data-credentials.json
docker-compose.override.yml
db.sqlite3
*.pyc
venv
.venv
/build
node_modules