.idea
*.iml
*.p12
.DS_Store
builds
build
dist
zorroa.egg-info
venv
/**/target
/**/dependency-reduced-pom.xml
/**/*.jar
/**/*.pyc
k8.cert
service-credentials.json
data-credentials.json
docker-compose.override.yml
