@import '../../styles/core.scss';

.Button {
  display: inline-flex;
  align-items: center;
  padding: $zorroa-metric-base;
  height: $zorroa-metric-base * 3;
  width: auto;
  border-radius: $zorroa-metric-base / 4;
  color: white;

  &__Active {
    background-color: $blue-1;
  }

  &__Paused {
    background-color: $yellow-1;
  }

  &__Canceled {
    color: black;
    background-color: $grey-2;
  }

  &__Finished {
    background-color: $green-1;
  }
}