{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks", "emotion"],
  "parser": "babel-eslint",
  "env": { "browser": true, "jest": true },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/state-in-constructor": ["error", "never"],
    "react/react-in-jsx-scope": "off",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error",
    "emotion/syntax-preference": ["error", "object"],
    "import/no-extraneous-dependencies": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]
  },
  "overrides": [
    {
      "files": ["**/helpers.js"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": ["**/*.spec.js", "**/__mocks__/**/*.js", "next.config.js"],
      "rules": {
        "global-require": "off",
        "no-underscore-dangle": "off",
        "no-console": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
