{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks", "@emotion"],
  "parser": "babel-eslint",
  "env": { "browser": true, "jest": true },
  "rules": {
    "@emotion/import-from-emotion": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/styled-import": "error",
    "@emotion/syntax-preference": ["error", "object"],
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "error",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/aria-role": ["error", { "ignoreNonDOM": true }],
    "jsx-a11y/label-has-associated-control": [
      "error",
      { "assert": "either", "controlComponents": ["InputSearch", "RadioIcon"] }
    ],
    "jsx-a11y/label-has-for": "off",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/react-in-jsx-scope": "off",
    "react/state-in-constructor": ["error", "never"]
  },
  "overrides": [
    {
      "files": ["**/helpers.js"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": [
        "**/*.spec.js",
        "**/__mocks__/**/*.js",
        "next.config.js",
        "jest.setup.js",
        "devServer.js"
      ],
      "rules": {
        "global-require": "off",
        "no-underscore-dangle": "off",
        "no-console": "off",
        "react/prop-types": "off",
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}
