**/node_modules
**/build

dev
deployment
test-data

buildx
docker-compose.yml
.dockerignore
.editorconfig
.flake8.cfg
.gitignore
.gitlab-ci.yml
.DS_Store
.git
.idea
.pytest_cache
.terraformignore
*.tfstate
README.md
renovate.json
terraform.tfstate
**db.sqlite3
