scikit-learn
scipy
mxnet==1.7.0.post2
protobuf
opencv-python-headless
opencv-contrib-python-headless
google-api-core
google-api-python-client
google-auth
google-cloud-speech==1.3.2
google-cloud-videointelligence==1.15.0
google-cloud-vision==1.0.0
google-cloud-language
google-cloud-dlp==1.0.0
google-cloud-pubsub
googleapis-common-protos
backoff
cmake
cvlib
matplotlib
clarifai
pytesseract
torch
torchvision
facenet-pytorch
boto3
nameparser
street-address
dateparser
azure-cognitiveservices-vision-computervision==0.7.0