scikit-learn
scipy
mxnet
protobuf
tensorflow==2.0.0
opencv-python-headless
opencv-contrib-python-headless
google-api-core
google-api-python-client
google-auth
google-cloud-automl
google-cloud-speech
google-cloud-videointelligence
google-cloud-vision
google-cloud-language
google-cloud-dlp
google-cloud-pubsub
google-cloud-datastore
google-cloud-bigquery
googleapis-common-protos
backoff
cmake
cvlib
matplotlib


