/* === BUTTONS === */

.btn {
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;

  &.btn-primary {
    background-color: $primary-color;
    color: $primary-font-color;

    &:hover,
    &:active,
    &:focus {
      background: lighten($primary-color, 15%);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active,
    &[disabled]:focus {
      background: $secondary-font-color;
    }
  }
}
