/* === COLORS === */

$primary-color: #82BE3C;

$error-color: #CE2D3F;
$danger-color: #EDB8BE;

$background-color: #1B1B1B;

$primary-font-color: #FFF;
$secondary-font-color: #545454;

$grey-1: #2E2E2E;
$grey-2: #B3B3B3;
$grey-3: #1D1D1D;
$grey-4: #121212;
$grey-5: #4D4948;
$grey-6: #404040;

$green-1: #4AC565;

$blue-1: #4A90E2;

$yellow-1: #F5A623;