/* VARIABLES
  1. COLORS
  2. TYPOGRAPHY
  3. BUTTONS
  4. INPUTS
*/


/* === COLORS === */

$primary-color: #82be3c;

$error-color: #ce2d3f;
$danger-color: #edb8be;

$background-color: #1b1b1b;

$primary-font-color: #fff;
$secondary-font-color: #545454;


/* === TYPOGRAPHY === */

$primary-font-family: 'Roboto', 'Avenir', 'sans-serif';

$body-font-size: 14px;
$body-line-height: 16px;

$h3-font-size: 18px;
$h3-line-height: 21px;

$small-font-size: 12px;
$small-line-height: 14px;

$normal-font-weight: 400;
$bold-font-weight: 500;


/* === BUTTONS === */

$btn-font-size: $body-font-size;
$btn-font-family: $primary-font-family;
$btn-line-height: 16px;
$btn-border-radius: 2px;


/* === INPUTS === */

$input-height: 39px;
$input-padding: 15px;
$input-border-radius: 2px;
