<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/dropzone/4.3.0/dropzone.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/dropzone/4.3.0/dropzone.js"></script>
</head>
<body>

<section layout:fragment="content">
    <div class="wrapper">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <td class="vert-align">
                    <div th:include="fragments/job :: state_label"/>
                </td>

                <td class="vert-align" th:text="${job.name}"></td>
                <td class="vert-align" th:text="${job.userCreated}"></td>
                <td class="vert-align" th:text="${#dates.format(job.timeStarted, 'dd MMM yyyy HH:mm')}"></td>
                <td class="col-md-4 vert-align">
                    <div th:include="fragments/job :: progress"/>
                </td>
            </tr>
            </tbody>
        </table>
        <hr width="100%" class="no-margin"/>
        <div class="container-fluid">
            <div class="row">
                <div id="leftContent" class="col-md-12" style="overflow-y:scroll; overflow-x:hidden;">
                    <div th:include="fragments/tasks :: task_table"/></div>
                <div id="rightContent" class="hidden">
                    <div class="panel">
                    <div class="panel-header"><h4>Assets</h4></div>
                    <div class="panel-body">
                        <table class="table table-striped table-condensed no-margin">
                            <tbody>
                            <tr><td>Total</td><td th:text="${job.stats.frameTotalCount}"></td></tr>
                            <tr><td>Created</td><td th:text="${job.stats.frameSuccessCount}"></td></tr>
                            <tr><td>Errors</td><td th:text="${job.stats.frameErrorCount}"></td></tr>
                            <tr><td>Warnings</td><td th:text="${job.stats.frameWarningCount}"></td></tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header"><h4>Tasks</h4></div>
                        <div class="panel-body">
                            <table class="table table-striped table-condensed no-margin">
                                <tbody>
                                <tr><td>Total</td><td th:text="${job.counts.tasksTotal}"></td></tr>
                                <tr><td>Success</td><td th:text="${job.counts.tasksSuccess}"></td></tr>
                                <tr><td>Failure</td><td th:text="${job.counts.tasksFailure}"></td></tr>
                                <tr><td>Waiting</td><td th:text="${job.counts.tasksWaiting}"></td></tr>
                                <tr><td>Queued</td><td th:text="${job.counts.tasksQueued}"></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" type="text/javascript">
        $('#opener').on('click', function() {
            var panel = $('#rightContent');
            var table = $('#leftContent');

            if (panel.hasClass("hidden")) {
                panel.removeClass('hidden').addClass('col-md-3');
                table.removeClass('col-md-12').addClass("col-md-9");
            } else {
                panel.addClass('hidden').removeClass('col-md-3');
                table.removeClass('col-md-9').addClass("col-md-12")
            }
            return false;
        });
    </script>
    <div th:include="fragments/table :: clickable"/>

</section>

</body>
</html>
