<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <p>
        <nav class="navbar navbar-default" style="border-width:0px; border-bottom-width: 1px">
            <div class="container-fluid">
                <div class="navbar-header navbar-brand">
                    <span class="fa fa-folder" aria-hidden="true"></span>
                    Folders
                    <a class="btn btn-default" href="/gui/folders">/</a>
                    <th:block th:each="folder: ${path}">
                        <a th:if="${folder.id &gt; 0}" class="btn btn-default" th:href="${'/gui/folders/' + folder.id}"
                           th:text="${folder.name}"></a>
                    </th:block>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <th:block th:each="child: ${children}">
                <a th:href="${'/gui/folders/' + child.id}" class="btn btn-default" style="margin: 5px;">
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <th:block th:text="${child.name}"></th:block>
                </a>
            </th:block>
        </div>
    </p>
</section>
</body>
</html>

