<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/ingest_menu :: ingest_menu"/>
    <div class="wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Schedule</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingest: ${ingests}" >
            <td><a th:text="${ingest.name}" th:href="@{/gui/ingests/__${ingest.id}__}"></a></td>
            <td th:text="${ingest.userCreated}"></td>
            <td th:text="${ingest.schedule.description}"></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div th:include="fragments/ingest_modal :: ingest_modal"/>
</section>

</body>
</html>
