<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/plugin_menu :: plugin_menu"/>
    <div class="wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>File Types</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="module: ${modules}">
                <td th:text="${module.type}"></td>
                <td><a th:text="${module.name}" th:href="@{/gui/plugins/__${plugin.name}__/module/__${module.name}__}"></a></td>
                <td th:text="${module.supportedExtensions}"></td>
                <td th:text="${module.toolTip}"></td>
            </tr>
        </tbody>
    </table>
    </div>
</section>

</body>
</html>
