<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/plugin_menu :: plugin_menu"/>
    <div class="wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Publisher</th>
            <th>Description</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plugin: ${plugins.list}">
            <td><a th:text="${plugin.name}" th:href="@{/gui/plugins/__${plugin.name}__}"></a></td>
            <td th:text="${plugin.version}"></td>
            <td th:text="${plugin.publisher}"></td>
            <td th:text="${plugin.description}"></td>
            <td th:text="${plugin.language}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</section>

</body>
</html>
