<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/plugins :: menu"/>
    <div class="wrapper">
    <table id="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Publisher</th>
            <th>Description</th>
            <th>Language</th>
            <th>Md5</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" th:attr="data-href=${'/admin/gui/plugins/' + plugin.id}"  th:each="plugin: ${plugins.list}">
            <td th:text="${plugin.name}"></td>
            <td th:text="${plugin.version}"></td>
            <td th:text="${plugin.publisher}"></td>
            <td th:text="${plugin.description}"></td>
            <td th:text="${plugin.language}"></td>
            <td th:text="${plugin.md5}"></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div th:include="fragments/table :: clickable"/>
</section>

</body>
</html>
