<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/plugins :: menu"/>
    <div class="wrapper">
    <div class="container">
        <br/>
        <dl class="dl-horizontal">
            <dt>Class:</dt>
            <dd th:text="${processor.name}"></dd>
            <dt>Description:</dt>
            <dd th:text="${processor.description}"></dd>
            <dt>Type:</dt>
            <dd th:text="${processor.type}"></dd>
            <dt>Filters:</dt>
            <dd>
                <ul>
                    <li th:text="${filter}" th:each="filter: ${processor.filters}"></li>
                </ul>
            </dd>
            <dt>Plugin:</dt>
            <dd th:text="${processor.pluginName}"></dd>
            <dt>Version:</dt>
            <dd th:text="${processor.pluginVersion}"></dd>
            <dt>Language:</dt>
            <dd th:text="${processor.pluginLanguage}"></dd>
        </dl>
    </div>

    <div th:fragment="display_props">
        <ul>
            <div th:with="displays = ${processor.display}"
                 th:include="fragments/display_props :: display_props"/>
        </ul>
    </div>
    </div>
</section>

</body>
</html>
