<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<section layout:fragment="content">
    <p>
    <nav class="navbar navbar-default" style="border-width:0px; border-bottom-width: 1px">
        <div class="container-fluid">
            <div class="navbar-header navbar-brand">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Users
            </div>
            <div class="nav navbar-nav navbar-right">
                <button onclick="$('#modalForm').modal({'backdrop': 'static'});" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

            </div>
        </div>
    </nav>
    <div class="panel panel-default" style="border-width: 0px;">
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last</th>
                    <th>First</th>
                </tr>
                </thead>
                <tbody>
                <tr th:class="${!user.enabled} ? danger : default" th:each="user: ${allUsers}">
                    <td><a th:text="${user.username}" th:href="@{/gui/users/__${user.id}__}"></a></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.firstName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="container-fluid">
        <ul class="pagination pull-right" style="margin: 0;">
            <li class="previous disabled"><a href="#"><span aria-hidden="true" th:text="${pageDisplay}"></span></a></li>
            <li><a th:href="@{/gui/users(page=${prevPage})}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
            <li><a th:href="@{/gui/users(page=${nextPage})}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
            </div>
    </div>
    </div>

    </p>
    <!-- Modal -->
    <div class="modal fade" id="modalForm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title">Create User</h4>
                </div>
                <div class="modal-body">
                    <form id="createUserForm" autocomplete="off" action="#" role="form" th:action="@{/gui/users}" th:object="${userBuilder}" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" th:field="*{username}" class="form-control" id="username" required="true" describedby="username-success"/>
                            <span id="username-valid" aria-hidden="true"></span>
                            <span id="username-success" class="sr-only">(success)</span>
                            <span id="username-help" class="help-block"></span>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email" required="true"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password" required="true" describedby="password-success"/>
                            <span id="password-success" class="sr-only">(success)</span>
                            <span id="password-help" class="help-block"></span>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class="form-group">
                            <label for="password-verify">Verify Password:</label>
                            <input type="password" class="form-control" id="password-verify" required="true"/>
                        </div>

                        <button type="submit" class="btn btn-default">Create</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- If there are validation errros, show form again. -->
    <div th:if="${errors}">
        <script th:inline="javascript" type="text/javascript">
            $('#modalForm').modal({'backdrop': 'static'});
         </script>
    </div>

    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[

        $(document).ready(function(e) {
            $('#password, #password-verify').keyup(function()  {
                var password = $('#password').val();
                var verify = $('#password-verify').val();

                if (password.length < 8) {
                    $('#password-help').text("Password must be 8 or more characters.");
                }
                else if (password != verify) {
                    $('#password-help').text("Passwords do not match.");
                }
                else {
                    $('#password-help').text("Password Ok");
                }
            });

            $('#modalForm').on('hidden.bs.modal', function (e) {
                $(this).find('form').trigger('reset');

                $('#username-valid').parent().attr("class", "form-group has-feedback");
                $('#username-valid').attr("class", "form-control-feedback");
                $('#username-help').text("");
            })

            $('#username').keyup(function()  {
                var username = $(this).val();
                var parent = $(this).parent();

                if (username.length >= 3) {
                    $.ajax( {
                        url: '/api/v1/users/' + username + '/_exists',
                        method: 'get',
                        dataType: 'json',
                        success: function(data) {
                            if (!data["result"]) {
                                $('#username-valid').attr("class", "glyphicon glyphicon-ok form-control-feedback");
                                $('#username-help').text("Username is available");
                                parent.attr("class", "form-group has-success has-feedback");
                            }
                            else {
                                $('#username-valid').attr("class", "glyphicon glyphicon-remove form-control-feedback");
                                $('#username-help').text("Username is not available");
                                parent.attr("class", "form-group has-error has-feedback");
                            }
                        },
                        error: function(err) {
                            alert(err);
                        }
                    });
                }
                else {
                    $('#username-valid').attr("class", "form-control-feedback");
                    parent.attr("class", "form-group has-feedback");
                }
            });
        });
        //]]>
    </script>
</section>
</body>
</html>

