<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<section layout:fragment="content">
    <div th:include="fragments/users :: menu"/>
    <div class="wrapper">
    <table id="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Email</th>
            <th>Last</th>
            <th>First</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" th:attr="data-href=${'/gui/users/' + user.id}"  th:each="user: ${allUsers}">
            <td th:text="${user.username}"/>
            <td>
                <i th:if="${!user.enabled}" class="fa fa-toggle-off text-danger" aria-hidden="true"> Disabled</i>
                <i th:if="${user.enabled}" class="fa fa-toggle-on text-success" aria-hidden="true"> Enabled</i>
            </td>
            <td th:text="${user.email}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.firstName}"/>
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div th:include="fragments/table :: pager"/>
    </div>
    </div>
    <div th:include="fragments/users :: modal_create"/>
    <div th:include="fragments/table :: clickable"/>
</section>
</body>
</html>

