<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/users :: menu"/>
    <div th:include="fragments/users :: side_menu"/>
    <br/>
    <div class="wrapper_side_menu">

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Profile</h3>
            </div>
            <div class="panel-body">

                <div th:if="${success}" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Profile Updated</strong>
                </div>

                <form th:autocomplete="off" id="userProfileForm" action="#" role="form" th:action="@{/admin/gui/users/__${user.id}__}" th:object="${userProfileForm}" method="post">

                    <div class="form-group">
                        <label for="updatedUsername">Username</label>
                        <input th:autocomplete="off" id="updatedUsername" type="text" class="form-control" th:value="${user.username}" th:name="updatedUsername"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('updatedUsername')}" th:errors="*{updatedUsername}"></div>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input  id="firstName" type="text" class="form-control" th:value="${user.firstName}" th:name="firstName"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input id="lastName" type="text" class="form-control" th:value="${user.lastName}" th:name="lastName"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input id="email" type="text" class="form-control" th:value="${user.email}" th:name="email"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <div th:include="fragments/users :: modal_create"/>
</section>

</body>
</html>
