<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section layout:fragment="content">
    <p>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit User</h1>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/gui/users">Users</a>
                </div>
            </div>

        </div>
    </nav>

    <div class="container col-sm-8">
    <form id="updateUserForm" autocomplete="off" action="#" role="form" th:action="@{/gui/users/__${user.id}__}" th:object="${userUpdateBuilder}" method="post">
        <div class="form-group">
            <span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${user.username}"/>
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input id="email" type="email" class="form-control" th:value="${user.email}" th:name="email" th:id="email"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label for="enabled">Enabled:</label>
            <input id="enabled" type="checkbox" th:checked="${user.enabled}" th:name="enabled" th:id="enabled"/>
            <input type="hidden" value="0" name="enabled"/>
        </div>

        <div class="form-group">
            <input type="checkbox" id="password-reset"/>
            <label for="password-reset">Reset Password</label>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input disabled="true" type="password" th:field="*{password}" class="form-control" id="password" required="true"/>
            <div id="password-help" class="help-block"></div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group">
            <label for="password-verify">Verify Password:</label>
            <input disabled="true" type="password" class="form-control" id="password-verify" required="true"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

    </form>
    </div>
    </p>

    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[
        $(document).ready(function(e) {

            $('#password, #password-verify').keyup(function()  {

                if ($("#password-reset").is(":checked")) {

                    var password = $('#password').val();
                    var verify = $('#password-verify').val();

                    if (password.length < 8) {
                        $('#password-help').text("Password must be 8 or more characters.")
                                .attr("class", "help-block alert-danger")
                    }
                    else if (password != verify) {
                        $('#password-help').text("Passwords do not match.")
                                .attr("class", "help-block alert-danger");
                    }
                    else {
                        $('#password-help').text("Password Ok")
                                .attr("class", "help-block alert-success")
                    }
                }
            });

            $("#password-reset").change(function() {
                if(this.checked) {
                    $("#password").removeAttr("disabled");
                    $("#password-verify").removeAttr("disabled");
                }
                else {
                    $("#password").attr("disabled", "true");
                    $("#password-verify").attr("disabled", "true");
                }
            });
        });
        //]]>
        </script>
</section>

</body>
</html>
