<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/Bootstrap-3-Typeahead/3.1.1/bootstrap3-typeahead.min.js"></script>
    <style>
        .popover{
            max-width: 100%; /* Max Width of the popover (depending on the container!) */
        }
    </style>
</head>
<body>

<section layout:fragment="content">
    <div th:include="fragments/users :: menu"/>
    <div th:include="fragments/users :: side_menu"/>
    <br/>
    <div class="wrapper_side_menu">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Permissions</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success" role="alert">
                        The user '<b th:text="${user.username}"></b>' has access to <b th:text="${assetCount}"></b> assets.
                    </div>

                    <input type="hidden" name="userid" id="userid" th:value="${user.id}"/>
                    <table class="table">
                    <tbody>
                    <tr th:if="${perm.type != 'user'}" th:each="perm: ${permissions}">
                        <td width="1">
                            <button type="button" th:value="${perm.id}" class="btn btn-danger btn-xs remove-permission-button" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Remove Permission">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <i th:if="${perm.type} != 'user'" class="fa fa-users" aria-hidden="true"></i>
                            <i th:if="${perm.type} =='user'" class="fa fa-user" aria-hidden="true"></i>
                            <strong th:text="${perm.fullName}"/>
                        </td>
                        <td th:text="${perm.description}"/>
                    </tr>
                    </tbody>
                    </table>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="showPermissions" class="btn btn-default" type="button" data-container="body" data-toggle="popover" data-placement="left" data-html="true"><i class="fa fa-list" aria-hidden="true"></i></button>
                                    <button id="addPermission" class="btn btn-default" type="button">Add</button>
                                </span>
                                <input id="typeahead-input" class="form-control" type="text" data-provide="typeahead" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popover-content" class="hide">
        <div style="max-height: 300px;overflow: auto;">
            <ul class="list-group checked-list-box" style="margin-right: 10px">
                <button th:value="${perm.fullName}" class="select-permission-button list-group-item" th:text="${perm.fullName}" th:each="perm: ${allPermissions}"></button>
            </ul>
        </div>
    </div>

    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {

            $("[data-toggle=popover]").popover({
                html: true,
                content: function() {
                    return $('#popover-content').html();
                }
            });


            /*
             * Enable the type-ahead text box
             */
            $('#typeahead-input').typeahead({
                source: function (query, process) {
                    return $.get('/api/v1/permissions/_names', function (data) {
                        return process(data);
                    });
                }
            });

            /*
             * Add a permission
             */
            $('#addPermission').click(function(e) {
                var perm = $('#typeahead-input').val();
                var userid = $('#userid').val();

                if (perm.length < 1) { return; }
                $.get('/api/v1/permissions/' + perm, function (data) {
                    var value = [data.id];
                    $.ajax({
                        url: '/api/v1/users/' + userid + '/permissions/_add',
                        type: 'PUT',
                        data: JSON.stringify(value),
                        dataType: "json",
                        contentType: "application/json",
                        success: function(result) {
                            location.reload()
                        }
                    });
                });
            });

            /*
             * Remove a permission
             */
            $('.remove-permission-button').click(function(e) {
                var data = [this.value];
                var userid = $('#userid').val();
                $.ajax({
                    url: '/api/v1/users/' + userid + '/permissions/_remove',
                    type: 'PUT',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(result) {
                        location.reload()
                    }
                });
            });

            /*
             * Popup select a permission.
             */
            $(document).on('click','.select-permission-button', function(e) {
                $('#typeahead-input').val(this.value);
            });
        });
        //]]>
    </script>
</section>

</body>
</html>
