boonlab
matplotlib
numpy
opencv_python
streamlit
cvlib
cmake
mpld3
bokeh
Pillow
mapboxgl
pandas
python_magic
scikit-image
scikit-learn
scipy
umap-learn
tensorflow
wordcloud
holoviews
MulticoreTSNE
cvlib
nltk
facenet-pytorch
