@import '../../styles/core.scss';

table {
  border-spacing: 0;
}

th,
td {
  height: $zorroa-metric-base * 4;
  font-weight: 200;
  color: $grey-2;
}

th {
  background-color: $grey-1;
  padding: 14px $zorroa-metric-base * 2;
  border-bottom: 1px solid $grey-5;

  &:not(:last-child) {
    border-right: 1px solid $grey-5;
  }
}

td {
  padding: $zorroa-metric-base $zorroa-metric-base * 2;
}

tr:nth-child(even) {
  background-color: $grey-3;
}

tr:nth-child(odd) {
  background-color: $grey-4;
}

.Header__title {
  display: flex;
}
