boonlab
cmake
mxnet
mpld3
bokeh
Pillow
ipykernel
ipython-genutils
ipython
ipywidgets
jupyter
jupyter-client
jupyter-contrib-nbextensions
jupyter-core
mapboxgl
matplotlib
numpy
opencv_python
pandas
python_magic
scikit-image
scikit-learn
scipy
umap-learn
tensorflow
holoviews
tqdm
MulticoreTSNE
cvlib
nltk
facenet-pytorch
boto3
google-api-core
google-api-python-client
google-auth
google-cloud-vision
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-face==0.4.1
