[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boonsdk = {editable = true,path = "./../../client/boonsdk"}
kubernetes = "*"
deprecation = "*"
google-cloud-monitoring = "==1.1.0"

[requires]
python_version = "3.8"
