[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
sentry-sdk = "*"
Django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-health-check = "*"
zorroa = {path = "./../../sdk/python"}
django-cryptography = "*"
drf-nested-routers = "*"
requests = "*"
uritools = "*"

[requires]
python_version = "3.6"
