<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<div th:fragment="alert">
<div class="alert" id="alert-box" style="position:absolute; width:100%">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <span id="alert-message">The message</span>
</div>
<script th:inline="javascript" type="text/javascript">
    $("#alert-box").hide();

    function bs_alert(type, message) {
        var alert = $("#alert-box");
        var alertMsg = $("#alert-message")
        alertMsg.text(message);
        alert.attr("class", "alert " + type);
        alert.alert();
        alert.fadeTo(2000, 500).slideUp(500, function() {
            alert.slideUp(500);
        });
    }

</script>

</div>
</body>
</html>
