<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-shadow navbar-fixed-top secondnavbar" role="navigation" style="z-index: 999; border-width:0px; border-bottom-width: 1px">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar navbar-header">
                    <a class="navbar-brand" href="/gui/assets"><i class="fa fa-file-image-o fa-fw fa-lg"/>Assets</a>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="navbar navbar-right">
                        <button id="opener" type="button" class="btn btn-default navbar-btn"><i class="fa fa-info fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-filter fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-th fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-sort fa-lg fa-fw" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="view_modal">
    <div class="modal modal-wide fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Attributes</h4>
                </div>
                <div class="modal-body">
                    <pre id="log" data-dismiss="modal"></pre>
                </div>
            </div>
        </div>
        <script th:inline="javascript" type="text/javascript">
            $(document).ready(function() {
                $('#viewModal').on('show.bs.modal', function(e) {
                    //get data-id attribute of the clicked element
                    var assetId = $(e.relatedTarget).data('id');
                    $.ajax({
                        url : "/api/v1/assets/" + assetId,
                        dataType: "json",
                        success : function (data) {
                            $("#log").text(JSON.stringify(data, null, 2));
                        }
                    });
                });
            });
        </script>
    </div>
</div>

<div th:fragment="table">
    <table id="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" th:each="asset: ${assets}">
            <td class="vert-align">
                <a th:if="${asset.proxies != null}" th:attr="data-id=${asset.id},data-type=${asset.getAttr('source.mediaType')}" data-toggle="modal" data-target="#imagemodal">
                    <img class="center-cropped" th:src="@{/api/v1/ofs/__${asset.proxies.smallest.id}__}"/></a>
            </td>
            <td class="vert-align" th:attr="data-id=${asset.id}" data-toggle="modal" data-target="#viewModal" th:text="${asset.getAttr('source.filename')}"></td>
            <td class="vert-align" th:text="${asset.getAttr('source.date')}"></td>
            <td class="vert-align" th:text="${asset.getAttr('source.mediaType')}"></td>
            <td class="vert-align"></td>
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div th:include="fragments/table :: pager"/>
    </div>

    <div class="modal modal-fullscreen modal-transparent fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <nav class="navbar navbar-black navbar-fixed-top" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-inner">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <a id="image" href="#" data-dismiss="modal"></a>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/assets :: view_modal"/>
    <div th:include="fragments/table :: clickable_view_modal"/>

    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            $('#imagemodal').on('show.bs.modal', function(e) {
                var assetId = $(e.relatedTarget).data('id');
                var type = $(e.relatedTarget).data('type');

                if (type.startsWith("image")) {
                    console.log("image");
                    view = $("<img />").attr('class', "center-block").height($(window).height()-50).attr('src', "/api/v1/assets/" + assetId + "/_stream")
                }
                else if (type.startsWith("video")) {
                    $("#image").empty().append(
                            '<video class="center-block" controls="controls"><source src="/api/v1/assets/'
                            + assetId
                            + '/_stream" type="' + type + '"/></video>');
                    return;
                }

                if (view) {
                    view.on('load', function () {
                        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                            alert('broken image!');
                        } else {
                            $("#image").empty().append(view);
                        }
                    });
                }
            });
        });
    </script>
</div>

</body>
</html>
