<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="side_menu">
    <div class="navbar navbar-default navbar-fixed-left">
        <nav class="nav-sidebar">
            <div class="list-group">
                <a th:href="${'/gui/filters/access'}" class="list-group-item">ACL Filter</a>
            </div>
        </nav>
    </div>
</div>

<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-shadow navbar-fixed-top secondnavbar" role="navigation" style="z-index: 999; border-width:0px; border-bottom-width: 1px">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar navbar-header">
                    <a class="navbar-brand" href="/gui/filters"><i class="fa fa-filter fa-fw fa-lg"/>Filters</a>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="navbar navbar-right">
                        <a href="/gui/filters/new" role="button" class="btn btn-danger navbar-btn"><i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>
