<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-shadow navbar-fixed-top secondnavbar" role="navigation" style="z-index: 999; border-width:0px; border-bottom-width: 1px">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar navbar-header">
                    <a class="navbar-brand" href="/gui/folders"><i class="fa fa-folder fa-fw fa-lg"/>Folders</a>
                    <th:block th:if="${folder != null &amp;&amp; folder.id &gt; 0}">
                        <p class="navbar-section navbar-text">
                        <th:block th:each="folder: ${path}">
                            <a th:if="${folder.id &gt; 0}" class="navbar-link" th:href="${'/gui/folders/' + folder.id}"
                               th:text="${folder.name}"></a>&nbsp;/
                        </th:block>
                        </p>
                    </th:block>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="navbar navbar-right">

                        <th:block th:if="${folder != null &amp;&amp; folder.id &gt; 0 &amp;&amp; folder.dyhiId == null}">
                        <button onclick="$('#dyhiModalCreate').modal({'backdrop': 'static'});"
                                type="button" class="btn btn-danger navbar-btn"><i class="fa fa-flash fa-fw fa-lg" aria-hidden="true"/></button>
                        </th:block>
                        <button onclick="$('#modalCreate').modal({'backdrop': 'static'});"
                                type="button" class="btn btn-danger navbar-btn"><i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"/></button>

                        <button id="opener" type="button" class="btn btn-default navbar-btn"><i class="fa fa-info fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-filter fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-th fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-sort fa-lg fa-fw" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="modal_create">

<!-- Modal -->
    <div class="modal fade" id="modalCreate" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Create Folder</h4>
                </div>
                <div class="modal-body">
                    <form id="createForm" autocomplete="off" action="#" role="form" th:action="@{/gui/folders/__${folder.id}__}" th:object="${folderSpec}" method="post">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" name="name" required="true"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <button type="submit" class="btn btn-default">Create</button>
                        <input type="hidden" id="parentId" name="parentId" th:value="${folder.id}"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- If there are validation errros, show form again. -->
    <div th:if="${errors}">
        <script th:inline="javascript" type="text/javascript">
            $(document).ready(function(e) {
                $('#modalCreate').modal({'backdrop': 'static'});
            });
        </script>
    </div>
</div>
</body>
</html>
