<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-shadow navbar-fixed-top secondnavbar" role="navigation" style="z-index: 999; border-width:0px; border-bottom-width: 1px">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar navbar-header">
                    <a class="navbar-brand" href="/admin/gui/imports"><i class="fa fa-upload fa-fw fa-lg"/>Imports</a>
                    <th:block th:if="${imp != null}">
                        <p class="navbar-section navbar-text">
                            <a class="navbar-link" th:href="${'/admin/gui/imports/' + imp.id}"
                               th:text="${imp.name}"></a>&nbsp;/
                        </p>
                    </th:block>

                </div>

                <div class="navbar-collapse collapse">
                    <div class="navbar navbar-right">
                        <button onclick="$('#modalCreate').modal({'backdrop': 'static'});"
                                type="button" class="btn btn-danger navbar-btn"><i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button onclick="$('#modalSearch').modal({'backdrop': 'static'});"
                                type="button" class="btn btn-danger navbar-btn"><i class="fa fa-refresh fa-lg fa-fw" aria-hidden="true"></i></button>

                        <button id="opener" type="button" class="btn btn-default navbar-btn"><i class="fa fa-info fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-filter fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-th fa-lg fa-fw" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-sort fa-lg fa-fw" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="modal_search">

    <div class="modal fade" id="modalSearch" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li><a href="#server-tab" data-toggle="tab">Reprocess Assets</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="server-tab">
                            <form id="searchImportForm" autocomplete="off" action="#" role="form" th:action="@{/admin/gui/imports/search}" th:object="${searchImportForm}" method="post">
                                <div class="form-group">
                                    <label>Search:</label>
                                    <textarea class="form-control" rows="8" id="search" name="search">
{
    "query": "test",
    "filter": {}
}
                                    </textarea>
                                    <button id="btn-count" type="button" class="btn btn-default">Count: 0</button>
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('search')}" th:errors="*{search}"></div>
                                </div>
                                <div class="form-group">
                                    <label for="pipelineId">Pipeline</label>
                                    <select  id="pipelineId" th:field="*{pipelineId}">
                                        <option th:each="pipe: ${pipelines}" th:value="${pipe.id}" th:text="${pipe.name}"></option>
                                    </select>
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('pipelineId')}" th:errors="*{pipelineId}"></div>
                                </div>
                                <button id="btn-server-submit" type="submit" class="btn btn-default">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${search_errors == true}">
        <script th:inline="javascript" type="text/javascript">
            //<![CDATA[
            $('#modalSearch').modal({'backdrop': 'static'});
            //]]>
        </script>
    </div>

    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[

        $(document).ready(function() {
            $('#btn-count').click(function()  {
                var val = $('#search').val();
                var btn = $(this);
                $.ajax({
                    url: '/api/v2/assets/_count',
                    method: 'post',
                    data: JSON.stringify(JSON.parse(val)),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        btn.text("Count: " + data["count"]);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
        //]]>
    </script>

</div>

<div th:fragment="modal_create">

<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li><a href="#server-tab" data-toggle="tab">Directory Scan</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="server-tab">
                        <div class="alert alert-warning" role="alert">The Zorroa servers must have access to all files and directories.</div>
                        <form id="serverImportForm" autocomplete="off" action="#" role="form" th:action="@{/admin/gui/imports/server}" th:object="${serverImportForm}" method="post">
                            <div class="form-group">
                                <label>Name:</label>
                                <input name="name" id="name" type="text" class="form-control" value="File system import"/>
                            </div>
                            <div class="form-group">
                                <label>Paths:</label>
                                <div id="pathList" class="list-group"></div>
                                <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="addPathButton" class="btn btn-default" type="button">Add Path</button>
                                </span>
                                    <input id="addPathText" type="text" class="form-control"/>
                                </div>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('paths')}" th:errors="*{paths}"></div>
                            </div>
                            <div class="form-group">
                                <label for="pipelineId">Pipeline</label>
                                <select  id="pipelineId" th:field="*{pipelineId}">
                                    <option th:each="pipe: ${pipelines}" th:value="${pipe.id}" th:text="${pipe.name}"></option>
                                </select>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('pipelineId')}" th:errors="*{pipelineId}"></div>
                            </div>
                            <button id="btn-server-submit" type="submit" class="btn btn-default">Create</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <div th:if="${errors == true}">
        <script th:inline="javascript" type="text/javascript">
            //<![CDATA[
            $('#modalCreate').modal({'backdrop': 'static'});
            //]]>
        </script>
    </div>

    <script th:inline="javascript" type="text/javascript">
        Dropzone.autoDiscover = false;
        var importDropzone = new Dropzone("div#importDropzone", {
            url: "#",
            previewsContainer: "#importDropzone",
            clickable: "#clickable",
            autoProcessQueue: false
        });

        jQuery(document).ready(function ($) {

            if (window.location.href.endsWith("server")) {
                $('#tabs a[href="#server"]').tab('show');
            }
            else {
                $('#tabs').tab();
            }
        });

    </script>

    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[

        $(document).ready(function() {

            function pathExists(val, handler) {
                $.ajax({
                    url: '/api/v1/ofs/_exists',
                    method: 'post',
                    data: JSON.stringify({"path": val}),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var exists = data["result"];
                        handler(exists);
                    },
                    error: function (err) {
                        handler(false);
                    }
                });
            }

            $('#addPathText').on("change keyup paste", function() {
                var element = $('#addPathText');
                var val = element.val();
                if (val.length >= 3) {
                    pathExists(val, function(result) {
                        console.log("result: " + result);
                        if (!result) {
                            element.parent().addClass("has-error");
                        }
                        else {
                            element.parent().removeClass("has-error");
                        }
                    });
                }
            });

            $('#addPathButton').click(function()  {
                var val = $('#addPathText').val();
                if (val.length > 0) {
                    $('#pathList').append("<li class='list-group-item'>"
                            + val
                            + "<a class=\"pathDeleteButton\" href=\"#\" style=\"float: right\">"
                            + "<span class=\"glyphicon glyphicon-remove-circle\"></span>"
                            + "</a>"
                            + "<input type=\"hidden\" name=\"paths\" value=\"" + val + "\">");
                }
            });

            $('#btn-server-submit').click(function(e)  {
                var paths = $('#pathList');
                if (paths.children().length == 0) {
                    alert("Your must add at least 1 path");
                    e.preventDefault();
                }
            });

            $(document).on("click",".pathDeleteButton",function(){
                $(this).parent().remove();
            });
        });
        //]]>
    </script>

</div>
</body>
</html>
