<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="ingest_modal">

<!-- Modal -->
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog" style="width: 800px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">&times;</button>
                <h4 class="modal-title">Create Ingest</h4>
            </div>
            <div class="modal-body">
                <form id="createIngest" autocomplete="off" action="#" role="form" th:action="@{/gui/ingests}" th:object="${ingestForm}" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" required="true" describedby="name-success"/>
                        <span id="name-valid" aria-hidden="true"></span>
                        <span id="name-success" class="sr-only">(success)</span>
                        <span id="name-help" class="help-block"></span>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                        <label>Paths:</label>
                        <div id="pathList" class="list-group"></div>
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button id="addPathButton" class="btn btn-default" type="button">Add Path</button>
                        </span>
                            <input id="addPathText" type="text" class="form-control"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('paths')}" th:errors="*{paths}"></div>
                    </div>
                    <div class="form-group">
                        <label for="runNow">Start Now</label>
                        <input type="checkbox" id="runNow" name="runNow" checked="true"/>
                    </div>
                    <div class="form-group">
                        <label for="pipelineId">Pipeline</label>
                        <select  id="pipelineId" th:field="*{pipelineId}">
                            <option th:each="pipe: ${pipelines}" th:value="${pipe.id}" th:text="${pipe.name}"></option>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('pipelineId')}" th:errors="*{pipelineId}"></div>
                    </div>

                    <button type="submit" class="btn btn-default">Create</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    </div>

<div th:errors="${ingestForm}"></div>
<!-- If there are validation errros, show form again. -->
<div th:if="${#fields.hasErrors('${ingestForm.*}')}">
    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[
        $('#modalCreate').modal({'backdrop': 'static'});
        //]]>
    </script>
</div>
<script th:inline="javascript" type="text/javascript">
    //<![CDATA[
    $(document).ready(function(e) {
        $('#addPathButton').click(function()  {
            var val = $('#addPathText').val();
            if (val.length > 0) {
                $('#pathList').append("<li class='list-group-item'>"
                        + val
                        + "<a class=\"pathDeleteButton\" href=\"#\" style=\"float: right\">"
                        + "<span class=\"glyphicon glyphicon-remove-circle\"></span>"
                        + "</a>"
                        + "<input type=\"hidden\" name=\"paths\" value=\"" + val + "\">");
            }
        });
        $(document).on("click",".uriDeleteButton",function(){
            console.log("bar!");
            $(this).parent().remove();
        });
    });
    //]]>
</script>
</div>
</body>
</html>
