<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="state_label">
    <th:block th:if="${job.state.name()} eq 'Active'">
        <span class="label label-warning">Active</span>
    </th:block>
    <th:block th:if="${job.state.name()} eq 'Finished'">
        <span class="label label-success">Finished</span>
    </th:block>
    <th:block th:if="${job.state.name()} eq 'Cancelled'">
        <span class="label label-danger">Cancelled</span>
    </th:block>
</div>

<div th:fragment="progress">
    <div class="progress" style="margin-bottom: 2px; margin-top: 2px">
        <div class="progress-bar progress-bar-success" th:style="${'width: '+ job.progress.success + '%'}">
            <span class="sr-only"></span>
        </div>
        <div class="progress-bar progress-bar-warning" th:style="${'width: '+ job.progress.running + '%'}">
            <span class="sr-only"></span>
        </div>
        <div class="progress-bar progress-bar-info" th:style="${'width: '+ job.progress.waiting + '%'}">
            <span class="sr-only"></span>
        </div>
        <div class="progress-bar progress-bar-danger" th:style="${'width: '+ job.progress.failed + '%'}">
            <span class="sr-only"></span>
        </div>
        <div class="progress-bar" th:style="${'background-color: #777; width: '+ job.progress.skipped + '%'}">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<div th:fragment="contextMenu">
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu fa-ul" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" id="li-view" href="#"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" id="li-cancel" href="#">Cancel</a></li>
        <li><a tabindex="-1" id="li-restart" href="#">Restart</a></li>
        <li><a tabindex="-1" id="li-retry-all" href="#">Retry All Failures</a></li>
    </ul>
</div>
<script th:inline="javascript" type="text/javascript">
$(function() {

    var contextMenu = $("#contextMenu");
    var selected;

    function hideContextMenu() {
        selected = null;
        contextMenu.hide();
    }

    function getSelectedJob() {
        if (selected == null) {
            return null;
        }
        else {
            return selected.split("-")
        }
    }

    function cancelJob(job) {
        $.ajax({
            url: "/api/v1/jobs/" + job[1] + "/_cancel",
            type: "PUT",
            success: function(result) {
                if (result["success"]) {
                    bs_alert("alert-success", "Job was canceled.");
                }
                else {
                    bs_alert("alert-warning", "Job must be in Running state to be canceled.");
                }
            }
        });
    }

    function restartJob(job) {
        $.ajax({
            url: "/api/v1/jobs/" + job[1] + "/_restart",
            type: "PUT",
            success: function(result) {
                if (result["success"]) {
                    bs_alert("alert-success", "Job was restarted.");
                }
                else {
                    bs_alert("alert-warning", "Job must be in Canceled state to be restarted.");
                }
            }
        });
    }

    function retryAll(job) {
        $.ajax({
            url: "/api/v1/jobs/" + job[1] + "/_retryAllFailures",
            type: "PUT",
            success: function(result) {
                if (result["success"]) {
                    bs_alert("alert-success", "Failures retried");
                }
            }
        });
    }

    $("body").on("contextmenu", "#table tr", function(e) {
        contextMenu.css({
            display: "block",
            left: e.pageX,
            top: e.pageY
        });
        selected = this.id;
        return false;
    });

    $("body").on("click", function(e) {
        if (contextMenu.is(":visible"))  {
            hideContextMenu();
        }
    });

    contextMenu.on("click", "a", function() {
        var option = this.id;
        var job = getSelectedJob();
        console.log(job);
        if (job == null) { return ;}

        if (option == "li-view") {
            location.href="/admin/admin/admin/admin/admin/gui/" + job[0] + "/" + job[1];
        }
        else if (option == "li-cancel") {
            cancelJob(job);
        }
        else if (option == "li-restart") {
            restartJob(job);
        }
        else if (option == "li-retry-all") {
            retryAll(job);
        }
        hideContextMenu();
    });

});

</script>


</div>

</body>
</html>
