<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="pager">
<ul class="pagination pull-right" style="margin: 0;">
    <li class="previous"><a th:href="@{__${#httpServletRequest.requestURI}__(page=1)}"><span aria-hidden="true" th:text="${page.display}"></span></a></li>
    <li><a th:href="@{__${#httpServletRequest.requestURI}__(page=${page.prev})}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
    <li><a th:href="@{__${#httpServletRequest.requestURI}__(page=${page.next})}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
</ul>
</div>

<div th:fragment="clickable">
<script th:inline="javascript" type="text/javascript">
    $('#table').on('click', '.clickable-row', function(event) {
        $(this).addClass('success').siblings().removeClass('success');
    }).on('mousedown', '.clickable-row', function(event) {
        event.preventDefault();
    });

    $(".table-hover > tbody > tr").dblclick(function() {
        window.document.location = $(this).data("href");
    });
</script>
</div>

<div th:fragment="clickable_view_modal">
    <script th:inline="javascript" type="text/javascript">
        $('#table').on('click', '.clickable-row', function(event) {
            $(this).addClass('success').siblings().removeClass('success');
        }).on('mousedown', '.clickable-row', function(event) {
            event.preventDefault();
        });
</script>

</div>
</body>
</html>
