<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="script_modal">
    <div class="modal modal-wide fade" id="scriptModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Script</h4>
                </div>
                <div class="modal-body">
                    <pre id="script"></pre>
                </div>
            </div>
        </div>
        <script th:inline="javascript" type="text/javascript">
            $(document).ready(function() {
                $('#scriptModal').on('show.bs.modal', function(e) {

                    //get data-id attribute of the clicked element
                    var taskId = $(this).val();
                    $.ajax({
                        url : "/api/v1/tasks/" + taskId + "/_script",
                        dataType: "text",
                        success : function (data) {
                            $("#script").text(data);
                        }
                    });
                });
            });
        </script>
    </div>
</div>


<div th:fragment="log_modal">
<div class="modal modal-wide fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log</h4>
            </div>
            <div class="modal-body">
                <pre id="log"></pre>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            $('#logModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var taskId = $(this).val();
                $.ajax({
                    url : "/api/v1/tasks/" + taskId + "/_log",
                    dataType: "text",
                    success : function (data) {
                        $("#log").text(data);
                    }
                });
            });
        });
    </script>
</div>
</div>


<div th:fragment="state_label">
    <th:block th:if="${task.state.name()} eq 'Running'">
        <span class="label label-warning">Running</span>
    </th:block>
    <th:block th:if="${task.state.name()} eq 'Waiting'">
        <span class="label label-primary">Waiting</span>
    </th:block>
    <th:block th:if="${task.state.name()} eq 'Queued'">
        <span class="label label-primary">Queued</span>
    </th:block>
    <th:block th:if="${task.state.name()} eq 'Success'">
        <span class="label label-success">Success</span>
    </th:block>
    <th:block th:if="${task.state.name()} eq 'Failure'">
        <span class="label label-danger">Failure</span>
    </th:block>
    <th:block th:if="${task.state.name()} eq 'Skipped'">
        <span class="label label-default">Skipped</span>
    </th:block>
</div>

<div th:fragment="task_table">
    <table id="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>State</th>
            <th>Duration</th>
            <th>Errors</th>
            <th>Host</th>
        </tr>
        </thead>
        <tbody>
        <tr th:class="${task.stats.frameErrorCount > 0 ? 'clickable-row danger' : 'clickable-row'}" th:attr="data-id=${task.taskId}" th:each="task: ${tasks}">
            <td class="vert-align" th:text="${task.taskId}"></td>
            <td class="vert-align" th:text="${task.name}"></td>
            <td class="vert-align">
                <div th:include="fragments/tasks :: state_label"/>
            </td>
            <td class="vert-align" th:text="${task.duration()}"></td>
            <td class="vert-align" th:text="${task.stats.frameErrorCount}"></td>
            <td class="vert-align" th:text="${task.host}"></td>
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div th:include="fragments/table :: pager"/>
    </div>
    <div th:include="fragments/table :: selectable"/>
    <div th:include="fragments/tasks :: log_modal"/>
    <div th:include="fragments/tasks :: script_modal"/>
    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu fa-ul" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
            <li><a tabindex="-1" id="li-view" href="#"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Log</a></li>
            <li><a tabindex="-1" id="li-script" href="#"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Script</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" id="li-retry" href="#">Retry</a></li>
            <li><a tabindex="-1" id="li-skip" href="#">Skip</a></li>
        </ul>
    </div>

    <script th:inline="javascript" type="text/javascript">
        $(function() {

            var contextMenu = $("#contextMenu");
            var selected;

            function hideContextMenu() {
                selected = null;
                contextMenu.hide();
            }

            function getSelectedTask() {
                if (selected == null) {
                    return null;
                }
                else {
                    return selected;
                }
            }

            function retryTask(task) {
                $.ajax({
                    url: "/api/v1/tasks/" + task + "/_retry",
                    type: "PUT",
                    success: function(result) {
                        if (result["success"]) {
                            bs_alert("alert-success", "Attempting to retry task.");
                        }
                    }
                });
            }

            function skipTask(task) {
                $.ajax({
                    url: "/api/v1/tasks/" + task + "/_skip",
                    type: "PUT",
                    success: function(result) {
                        if (result["success"]) {
                            bs_alert("alert-success", "Attempting to retry task.");
                        }
                    }
                });
            }

            $("body").on("contextmenu", "#table tr", function(e) {
                contextMenu.css({
                    display: "block",
                    left: e.pageX,
                    top: e.pageY
                });
                selected = $(this).attr("data-id");
                return false;
            });

            $("body").on("click", function(e) {
                if (contextMenu.is(":visible"))  {
                    hideContextMenu();
                }
            });

            contextMenu.on("click", "a", function() {
                var option = this.id;
                var task = getSelectedTask();
                if (task == null) { return ;}

                if (option == "li-view") {
                    $('#logModal').val(task);
                    $('#logModal').modal({backdrop: "static"});
                }
                else if (option == "li-script") {
                    $('#scriptModal').val(task);
                    $('#scriptModal').modal({backdrop: "static"});
                }
                else if (option == "li-retry") {
                    retryTask(task);
                }
                else if (option == "li-skip") {
                    skipTask(task);
                }

                hideContextMenu();
            });

        });

    </script>

</div>



</body>
</html>
