scikit-learn
scipy
mxnet==1.8.0.post0
protobuf
opencv-python-headless
opencv-contrib-python-headless
google-api-core
google-api-python-client
google-auth
google-cloud-speech
google-cloud-videointelligence
google-cloud-vision
google-cloud-language
google-cloud-dlp
google-cloud-pubsub
googleapis-common-protos
backoff
cmake
cvlib
matplotlib
clarifai
pytesseract
torch
torchvision
facenet-pytorch
boto3
nameparser
street-address
dateparser
azure-cognitiveservices-vision-computervision==0.8.0