{% extends "email/base-email.html" %}
{% block content %}
  <h2 style="color: #73B61C">Account Confirmation</h2>
  <p style="font-weight: bold;">
    Thanks for signing up for Boon AI.
  </p>
  <p>
    To get started, click the link below to activate your account.
  </p>
  <p>&nbsp;</p>
  <p>
    <a
      style="padding-left: 45px; padding-right: 45px; padding-top: 15px; padding-bottom: 15px; background-color: #73B61C; color: #fff; text-decoration: none; border-radius: 2px; font-weight: 500;"
      href="{{ fqdn }}/create-account?token={{ token }}&uid={{ user_id }}"
      target="_blank"
      >Confirm Your Account</a
    >
  </p>
  <p>&nbsp;</p>
  <p style="color: #808080; font-size: 0.8rem;">
    If the button above doesn’t work, paste this link into your web
    browser:<br />{{ fqdn }}/create-account?token={{ token }}&uid={{ user_id }}
  </p>
  <p style="color: #808080; font-size: 0.8rem;">
    If you did not make this request, you can safely ignore this email.
  </p>
{% endblock %}
