[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
djangorestframework = "==3.12.4"
Django = "==3.2.5"
django-cors-headers = "*"
django-health-check = "*"
django-cryptography = "*"
drf-nested-routers = "*"
requests = "*"
uritools = "*"
flake8 = "*"
markdown = "*"
google-auth = "*"
djangorestframework-camel-case = "*"
django-rest-auth = "*"
backoff = "*"
django-multiselectfield = "*"
stringcase = "*"
flatten-dict = "*"
djangorestframework-csv = "*"
google-api-python-client = "*"
google-cloud = "*"
google-cloud-pubsub = "*"
namegenerator = "*"
django-axes = "==5.20.0"
scikit-learn = "*"
matplotlib = "*"
pandas = "==1.1.5"
opencv-python = "==4.3.0.36"
pyjwt = ">=2.0"
importlib-metadata = "*"
django-filter = "*"
boonsdk = {path = "./../../client/boonsdk"}
deprecated = "*"
snapshottest = "*"
deprecation = "*"

[requires]
python_version = "3.7"
