[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
sentry-sdk = "*"
Django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-health-check = "*"
django-cryptography = "*"
drf-nested-routers = "*"
requests = "*"
uritools = "*"
flake8 = "*"
markdown = "*"
google-auth = "*"
djangorestframework-camel-case = "*"
django-rest-auth = "*"
backoff = "*"
django-multiselectfield = "*"
stringcase = "*"
opencv-python = "*"
flatten-dict = "*"
djangorestframework-csv = "*"
google-api-python-client = "*"
google-cloud = "*"
google-cloud-pubsub = "*"
namegenerator = "*"
zvi-client = {path = "./../../client/python"}

[requires]
python_version = "3.7"
